@media (max-width: 371px) {
     /* hide all and show that display is too thin to display anything */
    .layout-container {
        display: none;
    }
    .too-thin {
        display: flex;
        align-items: center;
        height: 100vh;
        margin: auto;
        padding: 1rem;
    }
    .too-thin h1 {
        font-size: 3rem;
        color: #333;
    }
    .too-thin p {
        padding: 0;
        font-size: 2rem;
        color: #777;
    }

}