<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/experience.css') }}"> -->
<div class="content-container">
    <div class="experience-section-container">
      <div class="experience-section">
        {% if experiences %}
        {% for exp in experiences %}
        {% if loop.index < 8 %}
        <div id="project-{{ loop.index }}" class="outer">
          <div class="experience-image-container">
            <img src="{{ url_for('static', filename='images/' + exp.main_image) }}" alt="Experience Image">
          </div>
          <div class="experience-content">
            <div class="experience-title">{{ exp.title }}</div>
            <div class="experience-subtitle">{{ exp.subtitle }}</div>
            <div class="experience-term">{{ exp.term }}</div>
          </div>
          <div class="experience-type {% if exp.experience_type.name == 'Work' %}work{% elif exp.experience_type.name == 'Project' %}project{% else %}other{% endif %}">
            {{ exp.experience_type.name }}
          </div>
          <!-- <div class="experience-shortdes">{{ exp.short_description }}</div> -->
          <!-- <div class="experience-longdes">{{ exp.long_description }}</div> -->
          <!-- <div class="experience-tags">">
            {% for tag in exp.tags %}
              <span>{{ tag.name }}</span>
            {% endfor %}
          </div> -->
        </div>
        {% else %}
        <div id="project-{{ loop.index }}" class="tile outer">
          <div class="experience-type">{{ exp.experience_type.name}}</div>
          <div class="experience-image">
            <img src="{{ url_for('static', filename='images/' + exp.main_image) }}" alt="Experience Image">
          </div>
          <div class="experience-title">{{ exp.title }}</div>
          <div class="experience-shortdes">{{ exp.short_description }}</div>
          <div class="experience-longdes">{{ exp.long_description }}</div>
        </div>
        {% endif %}
        {% endfor %}
        {% else %}
          <h3>No experiences found.</h3>
        {% endif %}
      </div>          
    </div>
  </div>

  <!-- 
  
   -->