<div class="content-container inset">
    <div class="experience-section-container">
      <div class="experience-section">
        <div class="project-1">1</div>
        <div class="project-2">2</div>
        <div class="project-3">3</div>
        <div class="project-4">4</div>
        <div class="project-5">5</div>
        <div class="project-6">6</div>
        <div class="project-7">7</div>
        <div class="tile project-8">2d</div>
        <div class="tile project-9">3a</div>
        <div class="tile project-10">3b</div>
        <div class="tile project-11">3c</div>
        <div class="tile project-12">3d</div>
        <div class="tile project-13">4a</div>
        <div class="tile project-14">4b</div>
        <div class="tile project-15">4c</div>
        <div class="tile project-16">4d</div>
        <div class="tile project-17">5a</div>
        <div class="tile project-18">5b</div>
        <div class="tile project-19">5c</div>
        <div class="tile project-20">5d</div>
        <div class="tile project-21">6a</div>
        <div class="tile project-22">6b</div>
        <div class="tile project-23">6c</div>
        <div class="tile project-24">6d</div>
      </div>          
    </div>
  </div>