<div class="content-container inset">
    <div class="experience-section-container">
      <div class="experience-section">
        <div class="project-1 outer">1</div>
        <div class="project-2 outer">2</div>
        <div class="project-3 outer">3</div>
        <div class="project-4 outer">4</div>
        <div class="project-5 outer">5</div>
        <div class="project-6 outer">6</div>
        <div class="project-7 outer">7</div>
        <div class="tile project-8 outer">2d</div>
        <div class="tile project-9 outer">3a</div>
        <div class="tile project-10 outer">3b</div>
        <div class="tile project-11 outer">3c</div>
        <div class="tile project-12 outer">3d</div>
        <div class="tile project-13 outer">4a</div>
        <div class="tile project-14 outer">4b</div>
        <div class="tile project-15 outer">4c</div>
        <div class="tile project-16 outer">4d</div>
        <div class="tile project-17 outer">5a</div>
        <div class="tile project-18 outer">5b</div>
        <div class="tile project-19 outer">5c</div>
        <div class="tile project-20 outer">5d</div>
        <div class="tile project-21 outer">6a</div>
        <div class="tile project-22 outer">6b</div>
        <div class="tile project-23 outer">6c</div>
        <div class="tile project-24 outer">6d</div>
      </div>          
    </div>
  </div>