<div class="filter-section">
    <div class="search-bar inset-mini">
      <div>🔍</div>
      <input type="text" placeholder="" class="search-input" aria-label="Search" />
    </div>
    <div class="filter-options inset-mini">
      <button class="filter-button outer-mini">
        <img src="/static/images/swift.png" alt="Swift" />
      </button>
      <button class="filter-button outer-mini">
        <img src="/static/images/aws.png" alt="AWS" />
      </button>
      <button class="filter-button outer-mini">3</button>
      <button class="filter-button outer-mini">4</button>
      <button class="filter-button outer-mini">5</button>
      <button class="filter-button outer-mini">6</button>
      <button class="filter-button outer-mini">7</button>
      <button class="filter-button outer-mini">8</button>
      <button class="filter-button outer-mini">9</button>
      <button class="filter-button outer-mini">2</button>
      <button class="filter-button outer-mini">3</button>
      <button class="filter-button outer-mini">4</button>
      <button class="filter-button outer-mini">5</button>
      <button class="filter-button outer-mini">6</button>
      <button class="filter-button outer-mini">7</button>
      <button class="filter-button outer-mini">8</button>
      <button class="filter-button outer-mini">9</button>
      <button class="filter-button outer-mini">2</button>
      <button class="filter-button outer-mini">3</button>
      <button class="filter-button outer-mini">4</button>
      <button class="filter-button outer-mini">5</button>
      <button class="filter-button outer-mini">6</button>
      <button class="filter-button outer-mini">7</button>
      <button class="filter-button outer-mini">8</button>
      <button class="filter-button outer-mini">9</button>
    </div>
  </div>