<div class="filter-section">
    <div class="search-bar inset-mini">
      <div>🔍</div>
      <input type="text" placeholder="" class="search-input" aria-label="Search" />
    </div>
    <div class="filter-options inset-mini">
      {% if tags %}
      {% for tag in tags %}
        <button class="filter-button outer-mini">
          {{ tag.name }}
        </button>
      {% endfor %}
      {% else %}
      <button class="filter-button outer-mini">No tags found.</button>
      {% endif %}

      <button class="filter-button outer-mini">
        <img src="/static/images/swift.png" alt="Swift" />
      </button>
      <button class="filter-button outer-mini">
        <img src="/static/images/aws.png" alt="AWS" />
      </button>
    </div>
  </div>