<div class="filter-section">
    <div class="search-bar">
      <div>🔍</div>
      <input type="text" placeholder="" class="search-input" aria-label="Search" />
    </div>
    <div class="filter-options inset">
      <button class="filter-button">
        <img src="/static/images/swift.png" alt="Swift" />
      </button>
      <button class="filter-button">
        <img src="/static/images/aws.png" alt="AWS" />
      </button>
      <button class="filter-button">3</button>
      <button class="filter-button">4</button>
      <button class="filter-button">5</button>
      <button class="filter-button">6</button>
      <button class="filter-button">7</button>
      <button class="filter-button">8</button>
      <button class="filter-button">9</button>
      <button class="filter-button">2</button>
      <button class="filter-button">3</button>
      <button class="filter-button">4</button>
      <button class="filter-button">5</button>
      <button class="filter-button">6</button>
      <button class="filter-button">7</button>
      <button class="filter-button">8</button>
      <button class="filter-button">9</button>
      <button class="filter-button">2</button>
      <button class="filter-button">3</button>
      <button class="filter-button">4</button>
      <button class="filter-button">5</button>
      <button class="filter-button">6</button>
      <button class="filter-button">7</button>
      <button class="filter-button">8</button>
      <button class="filter-button">9</button>
    </div>
  </div>